<div class="m-3 text-center">
    <h5><strong>EDIÇÃO DE PRODUTOS</strong></h5>
    <p>Preencha o formulário para editar um produto.</p>
    <hr />
</div>
  
    <form>
      <div class="row mb-2">
        <div class="col">
          <label>Nome do produto:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col">
          <label>Preço do produto:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col">
          <label>Quantidade do produto:</label>
          <input type="number" min="0" class="form-control" />
        </div>
      </div>
  
  
      <div class="row mb-2">
        <div class="col">
          <input type="submit" class="btn btn-success" value="Salvar Alterações"/>          
          <a routerLink="/consulta-produtos" class="btn btn-light"> Ir para a consulta</a>
        </div>
      </div>
    </form>
  
  
  
  
  
  
